<div class="container mt-4 custom-survey-container">
    <h2 class="mb-3">{{section.title}}</h2>
    <p class="mb-4">{{section.description}}</p>

    <form action="{{section._id}}/saveResponse" method="POST">
        {{#each section.questions}}
            <div class="mb-3 question-block">
                <p class="font-weight-bold question-text">{{text}}</p>
                {{#ifCond type '===' 'Multiple Choice'}}
                    <div class="options-container">
                        {{#each options}}
                            <div class="form-check option-item">
                                <input class="form-check-input" type="radio" id="{{this.value}}" name="{{../_id}}" value="{{this.value}}">
                                <label class="form-check-label" for="{{this.value}}">{{this.text}}</label>
                            </div>
                        {{/each}}
                    </div>
                {{/ifCond}}
                {{#ifCond type '===' 'Short Answer'}}
                    <input type="text" name="{{this._id}}" class="form-control short-answer" placeholder="Your answer...">
                {{/ifCond}}
            </div>
        {{/each}}
        <button type="submit" class="btn btn-primary submit-btn">Submit Answers in this section</button>
    </form>
</div>
