<div class="container mt-5">
    <h1>{{section.title}}</h1>
    <p>{{section.description}}</p>
    <a href="questions/add" class="btn btn-primary mb-3">Add Question</a>
    <table class="table">
        <thead>
            <tr>
                <th>Question</th>
                <th>Type</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {{#each questions}}
            <tr>
                <td>{{text}}</td>
                <td>{{type}}</td>
                <td>
                    <a href="/survey/{{../survey._id}}/questions/{{_id}}/edit" class="btn btn-sm btn-secondary">Edit</a>
                    <a href="#" class="btn btn-sm btn-danger" onclick="confirmDelete('{{../survey._id}}', '{{_id}}')">Delete</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<script>
    function confirmDelete(surveyId, questionId) {
        var confirmation = confirm('Are you sure you want to delete this question?');
        if (confirmation) {
            window.location.href = `/survey/${surveyId}/questions/${questionId}/delete`;
        }
</script>