{{!--
Group Name: SolveSpark (Group 5)
Product Name: SurveySpark
Students: Francesco Coniglione (1206780), Miran Qarachatani (1197590), Hans Urama (1198598)
--}}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <!-- CSS Section -->
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="/Content/app.css">
    <!-- temporary css storage -->
    <link rel="icon" type="image/x-icon" href="/Assets/images/home-header-logo.svg">
</head>
<script>
    // Function to open the sidebar
    function open_sidebar() {
        // Assigning object variables
        const sidebar = document.getElementById("sidebar");
        const overlay = document.getElementById("overlay");

        // Activating the sidebar
        sidebar.style.display = "flex";
        sidebar.classList.remove("inactive");
        sidebar.classList.add("active");
        document.getElementById("overlay").style.display = "block";

        // Activating the overlay
        overlay.style.display = "block";
        overlay.addEventListener("click", close_sidebar);
        document.body.style.overflow = "hidden";

        // Forcing the user to be at the top of the screen
        window.scrollTo({
            top: 0,
            behavior: "smooth"
        });
    }
    // Function to close the sidebar
    function close_sidebar() {
        // Assigning object variables
        const sidebar = document.getElementById("sidebar");
        const overlay = document.getElementById("overlay");

        // Deactivating the sidebar
        sidebar.classList.remove("active");
        sidebar.classList.add("inactive");
        document.getElementById("overlay").style.display = "none";

        // Disabling the overlay
        overlay.style.display = "none";
        overlay.removeEventListener("click", close_sidebar);
        document.body.style.overflow = "auto";

        // Forcing the user to be at the top of the screen
        window.scrollTo({
            top: 0,
            behavior: "smooth"
        });
    }

    // Dynamically getting the current year and updating it in the copyright
    // section of the sidebar footer
    const currentYear = new Date().getFullYear();
</script>
<body>
    <div class="top">
        {{#unless noHeaderFooter}}
        <header class="home-header">
            <div class="home-header-container">
                <div class="home-header-column">
                    <div>
                        {{#if user}}
                         <a href="/survey">
                            <img src="/Assets/images/home-header-logo.svg" alt="SurveySpark header logo">
                        </a>
                         {{else}}
                         <a href="/">
                            <img src="/Assets/images/home-header-logo.svg" alt="SurveySpark header logo">
                        </a>
                          {{/if}}
                    </div>
                    <div>
                        <ul class="home-header-nav-bar">
                            {{#if user}}
                            <li>
                                <a href="/survey">Surveys</a>
                            </li>
                            <li>
                                <a href="/responses">
                                    Responses
                                </a>
                            </li>
                            <li>
                                <a href="/takeSurvey">
                                    Take Surveys
                                </a>
                            </li>
                            {{else}}
                            <li>
                                <a href="/about">About Us</a>
                            </li>
                            <li>
                                <a href="/services">Services</a>
                            </li>
                            <li>
                                <a href="/docs">Docs</a>
                            </li>
                            <li>
                                <a href="/contact">Contact</a>
                            </li>
                            {{/if}}
                        </ul>
                    </div>
                </div>
                <div class="home-header-column">
                    {{#if user}}
                    <div class="home-login-btn button">
                        <a href="/auth/logout">
                            Logout
                        </a>
                    </div>
                    {{else}}
                        <div class="home-login-btn button">
                            <a href="/auth/login">Log in</a>
                        </div>
                        <div class="home-sign-up-btn button">
                            <a href="/auth/register">Sign up free</a>
                        </div>
                    {{/if}}
                </div>
            </div>
        </header>
        <header class="home-mobile-header">
            <div class="header-container">
                    <div class="header-container-nav">
                        <div class="header-container-nav-item">
                            <div class="hamburger-container">
                                <div class="hamburger-btn" onclick=open_sidebar()>
                                    <i class="fa-solid fa-bars"></i>
                                </div>
                            </div>
                        </div>
                        <div class="header-container-nav-item">
                            <div class="mobile-header-logo">
                                <a href="/">
                                    <img src="/Assets/images/home-header-logo.svg" alt="SurveySpark header logo">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header-sidebar">
                    <div class="header-sidebar-container inactive" id="sidebar">
                        <div class="sidebar-main">
                            <div class="sidebar-top">
                                <div>
                                    <div>
                                        <img src="/Assets/images/home-header-logo.svg" alt="SurveySpark header logo">
                                    </div>
                                    <div>
                                        <div class="rev-hamburger-container">
                                            <div class="rev-hamburger-btn" onclick=close_sidebar()>
                                                <i class="fa-solid fa-circle-xmark"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="sidebar-middle">
                                <div class="sidebar-middle-nav">
                                    <ul>
                                        {{#if user}}
                                        <li>
                                            <a href="/surveys">
                                                <p>Surveys</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/responses">
                                                Responses
                                            </a>
                                        </li>
                                        {{else}}
                                        <li>
                                            <a href="/about">
                                                <p>About Us</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/services">
                                                <p>Services</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/contact">
                                                <p>Contact</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/takeSurvey">
                                                <p>Take Surveys</p>
                                            </a>
                                        </li>
                                        {{/if}}
                                    </ul>
                                </div>
                                <hr/>
                                <div class="sidebar-middle-nav">
                                    <ul>
                                        {{#if user}}
                                        <li>
                                            <a href="/auth/logout">
                                                <p>Logout</p>
                                            </a>
                                        </li>
                                        {{else}}
                                        <li>
                                            <a href="/auth/login">
                                                <p>Login</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/get-started">
                                                <p>Get Started</p>
                                            </a>
                                        </li>
                                        {{/if}}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="sidebar-bottom">
                            <div>
                                <p>Copyright © {{currentYear}} SurveySpark, Inc. All Rights Reserved.</p>
                            </div>
                            {{!-- <div>
                                <ul>
                                    <li>
                                        <a href="/privacy-policy">Privacy Policy</a>
                                    </li>
                                    <span class="bullet">&bull;</span>
                                    <li>
                                        <a href="/terms-of-use">Terms of Use</a>
                                    </li>
                                </ul>
                            </div> --}}
                        </div>
                    </div>
                </div>
                <div id="overlay"></div>
        </header>
        {{/unless}}
        <main>
            {{{body}}}
        </main>
    </div>
    {{#unless noHeaderFooter}}
    {{#if user}}
    <footer class="home-footer">
        <div class="home-footer-container">
            <div class="home-footer-row">
                <div class="home-footer-column">
                    <p>Copyright © 2024 SurveySpark, Inc. All Rights Reserved.</p>
                </div>
                <div class="home-footer-column">
                    <ul class="home-footer-legal-nav">
                        <li>
                            <a href="https://github.com/fconiglione/SurveySpark" target="_blank">GitHub</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    {{else}}
   <footer class="home-footer">
    <div class="home-footer-container">
        <div class="footer-section logo-section">
            <a href="/" class="logo-link">
                <img src="/Assets/images/home-footer-logo.svg" alt="SurveySpark footer logo">
                <p class="logo-company-memo">a SolveSpark company</p>
            </a>
        </div>
        
        <nav class="footer-nav">
            <div class="footer-section">
                <h4>SurveySpark</h4>
                <ul>
                    <li><a href="/services">Services</a></li>
                </ul>
            </div>
            <div class="footer-section">
                <h4>Support</h4>
                <ul>
                    <li><a href="/contact">Contact us</a></li>
                </ul>
            </div>
            <div class="footer-section">
                <h4>Company</h4>
                <ul>
                    <li><a href="/about">About us</a></li>
                </ul>
            </div>
        </nav>

        <div class="footer-section legal">
            <p>Copyright © 2024 SurveySpark, Inc. All Rights Reserved.</p>
            <a href="https://github.com/fconiglione/SurveySpark" target="_blank">GitHub</a>
        </div>
    </div>
</footer>
    {{/if}}
    {{/unless}}
    <!-- Script Section -->
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/Scripts/app.js"></script>
</body>
</html>
