 <h1>Survey Index</h1>
        <div class="mb-3">
            <a class="btn btn-succes" href="/survey/create" >Add Survey</a>
        </div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#each Survey}}
      <tr>
        <th scope="row">{{@index}}</th>
        <td><a href="/survey/details/{{this._id}}">{{title}}</a></td>
        <td>{{description}}</td>
        <td>
          <a href="/survey/edit/{{this._id}}" class="btn btn-primary">Edit</a>
          <a href="/survey/delete/{{this._id}}"  class="btn btn-danger">Delete</a>
        </td>
      </tr>
    {{else}}
      <tr>
        <td colspan="4">No surveys found.</td>
      </tr>
    {{/each}}
  </tbody>
</table>