
    <h1>Survey Index</h1>
    {{#each Survey}}
        <div class="survey">
            <h2>{{title}}</h2>
            <p>{{description}}</p>
            <div class="questions">
                {{#each questions}}
                    <div class="question">
                        <h3>{{text}}</h3>
                        {{#if options}}
                            <ul>
                                {{#each options}}
                                    <li>{{text}} (Value: {{value}})</li>
                                {{/each}}
                            </ul>
                        {{/if}}
                        {{#if showIf}}
                            <p>Show if: {{showIf}}</p>
                        {{/if}}
                    </div>
                {{/each}}
            </div>
        </div>
    {{else}}
        <p>No surveys found.</p>
    {{/each}}
